In [1]:
#import libraries
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#import data
train=pd.read_csv('train.csv',index_col='id')
test=pd.read_csv('test.csv',index_col='id')
#test_df=test.iloc[:,0:7]

test['num_orders']=-999 #default value
df=pd.concat((train,test),axis=0)

In [3]:
df.head()

,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders
id,,,,,,,,
1379560,1,55,1885,136.83,152.29,0,0,177
1466964,1,55,1993,136.83,135.83,0,0,270
1346989,1,55,2539,134.86,135.86,0,0,189
1338232,1,55,2139,339.50,437.53,0,0,54
1448490,1,55,2631,243.50,242.50,0,0,40

In [4]:
#One hot encoding
df=pd.get_dummies(df,columns=['week','center_id','meal_id'])

In [5]:
cols_at_end = ['num_orders']
df = df[[c for c in df if c not in cols_at_end] + [c for c in cols_at_end if c in df]]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 489121 entries, 1379560 to 1291286
Columns: 288 entries, checkout_price to num_orders
dtypes: float64(2), int64(3), uint8(283)
memory usage: 154.4 MB

In [7]:
#train data
train_processed=df.loc[df.num_orders!=-999]
#test data
columns=[column for column in df.columns if column!='num_orders']
test_processed=df.loc[df.num_orders==-999,columns]

In [8]:
train_processed.columns

Index(['checkout_price', 'base_price', 'emailer_for_promotion',
       'homepage_featured', 'week_1', 'week_2', 'week_3', 'week_4', 'week_5',
       'week_6',
       ...
       'meal_id_2631', 'meal_id_2640', 'meal_id_2664', 'meal_id_2704',
       'meal_id_2707', 'meal_id_2760', 'meal_id_2826', 'meal_id_2867',
       'meal_id_2956', 'num_orders'],
      dtype='object', length=288)

In [9]:
X=train_processed.loc[:,:'meal_id_2956'].values.astype('float')
y=train_processed['num_orders'].ravel()

In [10]:
print(X.shape)
print(y.shape)

(456548, 287)
(456548,)

In [11]:
#train test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)
print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape)

(365238, 287) (365238,)
(91310, 287) (91310,)

In [33]:
#Normalization

In [12]:
test_processed=test_processed.loc[:,:'meal_id_2956'].values.astype('float')

## Apply SVM algorithm

In [ ]:
from sklearn.svm import SVR
class_svr=SVR(kernel='rbf')
class_svr.fit(X_train,y_train)

In [ ]:
y_pred_ran=class_svr.predict(X_test)
#y_pred_ran=np.absolute(y_pred_ran)

from sklearn.metrics import mean_squared_log_error
svm_error=mean_squared_log_error(y_test,y_pred_ran,multioutput='raw_values')
final_ran_error=100*svm_error
final_ran_error

In [ ]:
y_pred_svr=class_svr.predict(test_processed)

In [ ]:
df_submission=pd.DataFrame({'id':test.index,'num_orders':y_pred_ran_output})
df_submission.to_csv('rand_reg.csv',index=False)